body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background: rgb(251, 255, 240);
    color: rgb(65, 61, 75);
}

nav {
    width: 100%;
    height: auto;
}

.logo {
    margin-top: 0;
    padding: 20px;
    font-size: 1.5em;
    display: inline-block;
    cursor: pointer;
}

nav p {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    float: right;
    padding: 8px;
    margin-right: 12px;
}

nav p img {
    width: 12px;
    height: auto;
    margin-left: 4px;
}