/* Global styles */
body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background: rgb(251, 255, 240);
    color: rgb(65, 61, 75);
}

p {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
}

.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    display: block;
    width: 100%;
    background: rgba(84, 50, 0, 0.2);
}

/* Navigation Styles */
nav {
    width: 100%;
    height: auto;
}

.logo {
    margin-top: 0;
    padding: 20px;
    font-size: 1.5em;
    display: inline-block;
    cursor: pointer;
    color: rgba(84, 50, 0);
}

nav p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    float: right;
    padding: 8px;
    margin-right: 12px;
}

nav p img {
    width: 12px;
    height: auto;
    margin-left: 4px;
}


/* Product Display Section */
.container {
    margin: 0 auto;
    max-width: 1000px;
    height: auto;
    /* background: yellow; */
    margin-top: 50px;
    position: relative;
}

.breadcrumbs {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    opacity: 0.5;
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

.image_wrapper {
    width: 35%;
    overflow: hidden;
    height: 400px;
    float: left;
    box-shadow: 16px 16px 120px rgba(84, 50, 0, 0.317);
}

.content_wrapper {
    width: 65%;
    padding-left: 10%;
    box-sizing: border-box;
    float: left;
    padding-right: 40px;
    padding-bottom: 40px;
}

.content_wrapper h1 {
    font-size: 3em;
    margin-top: 0;
}

.info_table {
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.info_table th {
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 10px;
}

.info_table td {
    opacity: 0.8;
    color: rgb(219, 121, 0);
}

.content_wrapper .decorator-div {
    width: 14%;
    height: 100%;
    position: absolute;
    right: 0;
    background: rgba(237, 218, 185, 0.24);
    z-index: -1;
    top: 0;
}

.content_wrapper h3 {
    font-family: 'Roboto', sans-serif;
    padding-left: 4px;
    letter-spacing: 1px;
}

.content_wrapper p {
    padding-left: 4px;
    line-height: 26px;
    opacity: 0.7;
    text-align: justify;
    text-justify: inter-word;
}

.read_more_button {
    font-size: 0.8em;
    color: rgba(84, 50, 0);
    text-align: right;
    display: block;
    position: relative;
    transition: all 0.3s;
}

.read_more_button::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: rgba(84, 50, 0);
    position: absolute;
    right: 30px;
    bottom: -10px;
    margin-top: 30px;
    transition: all 0.3s;
}

.read_more_button:hover::after {
    right: 0;
    transition: all 0.3s;
}

.share_wrapper {
    width: 24px;
    height: 24px;
    background: rgba(237, 218, 185);
    box-shadow: 6px 6px 120px rgba(84, 50, 0, 0.2);
    padding: 16px;
    position: absolute;
    top: -30px;
    right: -30px;
}

/* Recommended Section */
.recommended {
    margin-top: 120px;
    margin-bottom: 120px;
}

.recommended h2 {
    font-size: 1.6em;
    margin-bottom: 0px;
}

.recommended .contents_wrapper {
    width: 100%;
    height: auto;
}

.contents_wrapper .card {
    width: 23%;
    display: inline-block;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
    background: rgb(255, 255, 255);
    transition: all 0.3s;
}

.contents_wrapper .card:hover {
    box-shadow: 12px 12px 80px rgba(84, 50, 0, 0.2);
    transition: all 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title_holder {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    background: rgba(237, 218, 185, 0.7);
}

.title_holder p {
    color: rgba(84, 50, 0);
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    padding: 10px 20px;
    text-align: right;
}

/* Contact Section */
.contact {
    margin-top: 120px;
    margin-bottom: 120px;
}

.contact .left-section {
    width: 50%;
    height: auto;
    float: left;
    padding-right: 60px;
    box-sizing: border-box;
    position: relative;
}

.contact .left-section h2 {
    font-size: 3em;
    text-align: right;
}

.contact .left-section .decorator-div {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgba(237, 218, 185, 0.24);
    z-index: -1;
    top: 0;
}

.contact .right-section {
    float: left;
    width: 50%;
    height: auto;
}

form {
    box-shadow: 12px 12px 80px rgba(84, 50, 0, 0.2);
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    color: rgb(65, 61, 75);
    background: rgb(249, 252, 240);
    border: 0;
    border-bottom: 1px solid rgba(84, 50, 0, 0.15);
    outline: none;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: rgba(84, 50, 0, 0.8);
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: rgba(84, 50, 0, 0.6);
}

input[type="submit"] {
    background: rgb(255, 203, 109);
    color: rgb(255, 255, 255);
    width: 100%;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 20px 20px;
}

/* Footer Styles */
footer .container {
    margin-top: 0px;
}

footer .first,
footer .second,
footer .third {
    width: 33.33%;
    height: 70px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.first .logo,
.second p,
.third p {
    margin: 0;
    padding: 0;
}

.second p,
.third p {
    opacity: 0.5;
}

/* Responsive design */
@media only screen and (max-width:991px){
	
}


@media only screen and (max-width:800px){
	
}


/*Mobile*/
@media (max-width: 767px)
{   
    /* Global Styles */
    .container {
        max-width: 100%;
        width: 100%;
        padding: 30px 30px;
        margin-top: 0px;
        box-sizing: border-box;
    }

    /* Navigation */
    .logo {
        font-size: 2em;
    }

    nav p {
        font-size: 1.4em;
    }

    /* Product Container */
    .breadcrumbs {
        font-size: 1.2em;
    }

    .image_wrapper {
        float: none;
        width: 100%;
    }

    .content_wrapper {
        float: none;
        width: 100%;
        padding: 0%;
        margin-top: 30px;
    }

    .content_wrapper h3 {
        font-size: 1.6em;
        margin-bottom: 0px;
    }

    .content_wrapper p {
        font-size: 1.2em;
        line-height: 34px;
    }
    
    .read_more_button {
        font-size: 1.4em;
        text-align: center;
        margin-top: 30px;
    }

    .read_more_button::after {
        right: 50%;
        transform: translate(-50%);
    }

    .share_wrapper {
        top: 40px;
        right: 20px;
    }

    /* Recommended Section */
    .recommended {
        margin-bottom: 0px;
    }

    .recommended h2 {
        font-size: 1.8em;
    }

    .recommended .card {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
    }

    .recommended .card .title_holder {
        font-size: 1.4em;
    }

    /* Contact Section */
    .contact {
        margin-bottom: 0px;
    }

    .contact .left-section {
        float: none;
        display: block;
        padding: 0px;
        width: 100%;
    }

    .contact .right-section {
        float: none;
        width: 100%;
        display: block;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        font-size: 1em;
    }

    input::placeholder {
        font-size: 1em;
    }

    input[type="submit"] {
        font-size: 1.3em;
    }

    /* Footer Styles */
    footer .first,
    footer .second,
    footer .third {
        width: 100%;
        height: 50px;
    }

    footer .second {
        margin-top: 20px;
    }

    footer .third {
        order: -1;
    }

    /* Responsive table */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    .info_table th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        position: relative;
        padding-left: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.1em;
    }

    td::before {
        width: 45%;
        position: absolute;
        top: 6px;
        left: 6px;
        padding-right: 10px;
        white-space: nowrap;
        color: rgba(84, 50, 0);
        font-size: 1.1em;
        margin-right: 20px;
    }

    td:nth-of-type(1)::before { content: 'Botanical Name'; }
    td:nth-of-type(2)::before { content: 'Family'; }
    td:nth-of-type(3)::before { content: 'Commercial Part'; }

}


/*iphone X*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) 
{
 
}


/*iphone 8 plus*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) 
{
  
 }
	

/*iphone 8*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2)
{
   
 }


/*ipad pro*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) 
{
   
}


/*ipad*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)
{
   
}